body {
    background: #F6F4F9;
    color: #100F11;
    font-family: 'DIN Pro', sans-serif;

    a {
        padding: 10px;
        color: #100F11;
        opacity: 54%;
    }
    a:visited {
        color: #100F11;
        text-decoration: none;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-right: 10px;
        }
    }
}
