{% extends 'main/layout.html' %}

{% block title %}{{ doctor.name }}{% endblock %}

{% block body %}
<div class="doctor-profile">
    <div class="doctor-name">{{ doctor.name }}</div>
    <img src="{{ doctor.photo.url }}" height="200" width="150" class="doctor-photo">
    <div class="doctor-sphere">{{ doctor.sphere }}</div>
    <div class="doctor-education">{{ doctor.education }}</div>
    <div class="doctor-career-start">{{ doctor.career_start_time }}</div>

    <div class="doctor-schedule">
        <h3>Monday</h3>
        <p>Start: {{ doctor.schedule.monday_start }}</p>
        <p>End: {{ doctor.schedule.monday_end }}</p>

        <h3>Tuesday</h3>
        <p>Start: {{ doctor.schedule.tuesday_start }}</p>
        <p>End: {{ doctor.schedule.tuesday_end }}</p>

        <h3>Wednesday</h3>
        <p>Start: {{ doctor.schedule.wednesday_start }}</p>
        <p>End: {{ doctor.schedule.wednesday_end }}</p>

        <h3>Thursday</h3>
        <p>Start: {{ doctor.schedule.thursday_start }}</p>
        <p>End: {{ doctor.schedule.thursday_end }}</p>

        <h3>Friday</h3>
        <p>Start: {{ doctor.schedule.friday_start }}</p>
        <p>End: {{ doctor.schedule.friday_end }}</p>
    </div>
</div>
{% endblock %}
