{% load static %}
{% load tz %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dzianis Maliush"/>
    <meta
            name="description"
            content="Medical center with lots of very smart services and personal doctor"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="twitter:title" content="Medical center"/>
    <meta
            property="og:image"
            content="https://t3.ftcdn.net/jpg/03/27/74/04/360_F_327740445_NGTO6Lc4du5WOvTwHERCQmvYDw4bbeuo.jpg"/>
    <link rel="icon" href="{% static 'main/img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--GoogleFonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav role="navigation">
    <ul autocapitalize="on">
        <li><a id="logo" href="{% url 'home' %}"><img height="70" src="{% static 'main/img/logo.png' %}"></a></li>
        <li><a href="{% url 'home' %}">Main</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'faq' %}">FAQ</a></li>
        <li><a href="{% url 'contacts' %}">Contacts</a></li>
        <li><a href="{% url 'term_condition' %}">Term Condition</a></li>
        <li><a href="{% url 'vacancies' %}">Vacancies</a></li>
        <li><a href="{% url 'reviews' %}">Review</a></li>
        <li><a href="{% url 'codes_and_coupons' %}">Codes and Coupons</a></li>
        <!--<li><a href="{% url 'api_requests' %}">API</a></li>-->
        {% if user.is_authenticated %}
        <li><a href="{% url 'appointments' %}">Appointments</a></li>
        <li><a style="color: red;" href="{% url 'cart' %}">Cart</a></li>
        <li style="margin-right: 50px;"></li>
        <li><a href="{% url 'sign_out' %}">SignOut</a></li>
        {% else %}
        <li><a href="{% url 'sign_in' %}">SignIn</a></li>
        <li><a href="{% url 'sign_up' %}">SignUp</a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li><a href="{% url 'statistics' %}">Statistics</a></li>
        {% endif %}
        {% if user.role == 'doctor' %}
        <li><a href="{% url 'clients' %}">Clients</a></li>
        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %}
<footer class="footer-container">
    <div>All rights reserved</div>
</footer>
</body>
</html>
