{% extends 'main/layout.html' %}

{% block title %}Services Page{% endblock %}

{% block body %}
<h1>Services</h1>

{% if user.is_authenticated %}
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Service Group</th>
                    <th>Service Name</th>
                    <th>Price</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for set in services %}
                <tr>
                    <td rowspan="{{ set.services.count }}" style="vertical-align: middle;">{{ set.name }}</td>
                    {% for service in set.services.all %}
                    {% if forloop.first %}
                        <td>{{ service.name }}</td>
                        <td>${{ service.price }}</td>
                        <td>
                            <a href="{% url 'service_detail_page' service.id %}">
                                <button type="button">Learn more</button>
                            </a>
                        </td>
                    {% else %}
                        </tr>
                        <tr>
                            <td>{{ service.name }}</td>
                            <td>${{ service.price }}</td>
                            <td>
                                <a href="{% url 'service_detail_page' service.id %}">
                                    <button type="button">Learn more</button>
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

{% else %}
    <div>
        {% for item in services %}
        <div>
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
            <ul>
                {% for service in item.services.all %}
                <li>{{ service.name }} - {{ service.price }}<br>
                    {{ service.description }}<br>
                    {{ service.price }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}