{% extends 'main/layout.html' %}

{% block title %}Services Page{% endblock %}

{% block body %}
<h1>Services</h1>

{% if user.is_authenticated %}
    {% csrf_token %}
    <div class="services-grid">
        <div class="table-header" style="grid-column: span 3;">
            <span>Service Name</span>
            <span>Price</span>
            <span>Details</span>
        </div>
        {% for set in services %}
            <div class="service-group" style="grid-column: span 3;">
                {{ set.name }}
            </div>
            {% for service in set.services.all %}
                <div class="service-name">{{ service.name }}</div>
                <div class="service-price">${{ service.price }}</div>
                <div class="service-details">
                    <a href="{% url 'service_detail_page' service.id %}">
                        <button type="button">Learn more</button>
                    </a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% else %}
    <div>
        {% for item in services %}
            <div>
                <h2>{{ item.name }}</h2>
                <p>{{ item.description }}</p>
                <ul>
                    {% for service in item.services.all %}
                        <li>{{ service.name }} - {{ service.price }}<br>
                            {{ service.description }}<br>
                            {{ service.price }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
